.cont {
    margin-top: 14vh;
}
.form-control{
    margin-top: 4vh;
    border: 0.5px solid black;
    border-radius: 3.5px;
}
.funct {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn{
    margin-right: 1vw;
}
.txta::placeholder{
    color:rgb(102, 99, 99);
}
@media screen and (max-width: 992px) {
    .funct {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .btn {
        width: 80%;
        margin-top: 0.7vh;
        margin-bottom: 0.7vh;
    }
  }