.cont {
    margin-top: 14vh;
}
.form-control{
    margin-top: 4vh;
    border: 0.5px solid black;
    border-radius: 3.5px;
}
.funct {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn{
    margin-right: 1vw;
}
.txta::placeholder{
    color:rgb(102, 99, 99);
}